<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label"><%=themeConfig.websiteName%></p>
    </div>
</div>
<script async src="https://arc.io/widget.min.js#9QS8mtxd"></script>
